.todo {
    justify-content: space-between;
    max-width: 400px;
    margin: 15px auto;
  }

  .js-input {
    position: relative;
    padding: 6px 12px;
    margin-bottom: 15px;
  }

  .js-btn {
    width: 150px;
    max-width: 100%;
    padding: 6px 12px;
    color: black;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background-color: #8bc34a;
    background-size: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    appearance: none;
  }